# Frontend
VITE_API_BASE_URL=http://localhost:3001

# Backend (Node/Express)
GOOGLE_SHEETS_ID=17bsID3RXNAwHtDJWWDHELh9M4FP-EsmVNj97itfuEcA
SS_INGRESOS_ID=1UzWAwnsBuXWkfSkDgG6TE5tmKPl9P_UBKegUBrBUCzk
SS_SALIDAS_ID=1cEqFO_djlahEoMkTXLs33a47KGHWTuy57K_s96jRLrI
HOJA_INGRESOS=STOCK INGRESOS
HOJA_SALIDAS=STOCK SALIDAS
GOOGLE_CLIENT_EMAIL=service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
PORT=3001
